name: Build APKs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.4'

      - name: Generate Gradle Wrapper
        run: gradle wrapper --gradle-version 8.4

      - name: Grant execute permission for gradlew and build script
        run: |
          chmod +x gradlew
          chmod +x build_apks.sh
          
      - name: Fix line endings
        run: dos2unix packages.txt
        
      - name: Build all APKs
        run: ./build_apks.sh

      - name: Upload APKs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: all-apks
          path: output_apks/
          retention-days: 30
